
.container{
  margin: auto;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}





#calculator{
  height: 450px;
  width: 320px;
  border-style: solid;
  border-width: medium;
  border-color: red;
  position: relative;
}

/*top two screens container*/
.screenContainer{
  display: flex;
  flex-direction: column;
  width: 250 px;
  height: 80px;
  background-color: white;
  text-align: right;
}

#entryScreen{
  width:85%;
  height: 60px;
  background-color: lightgrey;
  margin: auto;
}

#equationScreen p{
  width:85%;
  height: 20px;
  background-color: lightyellow;
  margin: auto;
}


/*button containers*/
.buttonContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 250;
  height: auto;
  padding: 10%;
}

button{
  width: 25%;
  height: auto;
  background-color: lightblue;
  color: white;
  padding: 10px 10px;
  border-radius: 20%;
  margin: auto;
  font-size: 16px;


}
